
<h1>{{heading}}</h1>
<h2> {{name}}</h2>
<p>Sum of 2+2 is: {{sum}}</p>
<p>

        <img src="{{image}}" [width]="width" [height]="height" />
</p>
<li>
        <ol>
                Hello!{{customers}}
        </ol>
</li>

<p>Cake Images</p>

<div class="container">
        <img [src]="image" [width]="width" [height]="height" />
</div>
<div class="table"></div>
<table border=1px>
        <tr>
                <th [style.color]="color">Student Table</th>
        <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Address</th>
        </tr>
</table>